.navbar{
    display: flex;
    flex-direction: column;
}
.navbar_top{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.navbar_top p{
    font-size: 1.5rem;
}
.nav_icon{
    margin-right: 2rem;
}
.navbar_links_container {
    margin: 0 auto 0 auto;
}
.navbar_links_container ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;

}
.navbar_links_container li{
    cursor: pointer;
}
.bag_category_container{
    display: flex;
    overflow-x: auto;
    margin: 50px 0 50px 0;
    text-align: center;
}
.bag_category_container::-webkit-scrollbar{
    display: none;
}
.icon{
    
    color: white;
   font-size: 150px;
   margin-left: 15px;
   outline:1px;
   cursor: pointer;
   font-size: 150px!important;
    
}

@media screen and (max-width:376px){
    .icon{
    
        color: white;
       font-size: 80px!important;
       margin-left: 15px;
       cursor: pointer;
        
    }
    .navbar_top{
        margin: 5px;
    }
    .navbar_links_container ul {
        margin: 0 auto 0 auto;
        overflow-x: scroll;
        /* width: 100%; */
        
    }
    .navbar_links_container{
        overflow-x: scroll;
    }
    .navbar_links_container ul li{
        gap: 1rem;
    }


}
@media screen and (min-width: 376px) and (max-width: 767px) {
    .icon {
      font-size: 120px !important;
    }
  }
  
  /* Media query for screens between 768px and 1024px (e.g., small laptop) */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar_top {
      margin: 10px;
    }
    .icon {
      font-size: 130px !important;
    }
  }
  
  /* Media query for screens larger than 1024px (e.g., desktop) */
  @media screen and (min-width: 1025px) {
    .navbar_top {
      margin: 20px;
    }
  }