.navbar{
    display: flex;
    flex-direction: column;
}
.navbar_top{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.navbar_top p{
    font-size: 1.5rem;
}
.nav_icon{
    margin-right: 2rem;
}
.navbar_links_container {
    margin: 0 auto 0 auto;
}
.navbar_links_container ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;

}
.bag_category_container img{
    
    width: 100px;
    mix-blend-mode:saturation;
    
}
