*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: 50px 20% 50px 20%;
}

@media screen and (max-width: 376px) {
  body{
    margin: 5%!important;
  }

}